<div>
	<div class="x_panel">
		<div class="x_title">
			<h2>
				Customer Interface<small></small>
			</h2>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
			<table border="1" class="table table-bordered table-striped table-responsive">
                        <tr>
                            <th>
                                Responsabilidad
                            </th>
                            <th>
                                Actividades ejercidas - Estado
                            </th>
                        </tr>
                        <tr>
                            <td>
                                Administrar cambios a los requerimientos
                            </td>
                            <td>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sapien turpis, eleifend pretium augue a, faucibus mattis nunc. In hac habitasse platea dictumst. Duis scelerisque ex sit amet fermentum molestie. In nec gravida ante. Vivamus risus ante, bibendum scelerisque aliquet quis, ornare sed lorem. Curabitur blandit purus at velit aliquam mollis. Sed ut porta dolor. Mauris id consectetur libero.
                            </td>
                        </tr>
                        <tr>
                            <td>
                               Administrar Matriz de requerimientos

                            </td>
                            <td>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sapien turpis, eleifend pretium augue a, faucibus mattis nunc. In hac habitasse platea dictumst. Duis scelerisque ex sit amet fermentum molestie. In nec gravida ante. Vivamus risus ante, bibendum scelerisque aliquet quis, ornare sed lorem. Curabitur blandit purus at velit aliquam mollis. Sed ut porta dolor. Mauris id consectetur libero.
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Coordinaci&oacute;n de Contacto con el Cliente
                            </td>
                            <td>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sapien turpis, eleifend pretium augue a, faucibus mattis nunc. In hac habitasse platea dictumst. Duis scelerisque ex sit amet fermentum molestie. In nec gravida ante. Vivamus risus ante, bibendum scelerisque aliquet quis, ornare sed lorem. Curabitur blandit purus at velit aliquam mollis. Sed ut porta dolor. Mauris id consectetur libero.
                            </td>
                        </tr>
                    </table>
		</div>
	</div>
</div>
<div>
	<div class="x_panel">
		<div class="x_title">
			<h2>
				Planning Manager<small></small>
			</h2>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
                    <table border="1" class="table table-bordered table-striped table-responsive">
                        <tr>
                            <th>
                                Responsabilidad
                            </th>
                            <th>
                                Actividades ejercidas - Estado
                            </th>
                        </tr>
                        <tr>
                            <td>
                                Dar seguimiento al plan de trabajo
(Asegurarse de que todas las personas registraron sus datos antes de hacer el reporte semanal)
                            </td>
                            <td>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sapien turpis, eleifend pretium augue a, faucibus mattis nunc. In hac habitasse platea dictumst. Duis scelerisque ex sit amet fermentum molestie. In nec gravida ante. Vivamus risus ante, bibendum scelerisque aliquet quis, ornare sed lorem. Curabitur blandit purus at velit aliquam mollis. Sed ut porta dolor. Mauris id consectetur libero.
                            </td>
                        </tr>
                        <tr>
                            <td>
                               Generar el Reporte semanal del estatus del equipo
                            </td>
                            <td>
                                Terminado
                            </td>
                        </tr>
                         <tr>
                            <td>
                               Verificar y/o realizar modificaciones al plan del equipo
                            </td>
                            <td>
                                Se agregar&oacute;n las actividades de los miembros A, B y C al plan de trabajo
                            </td>
                        </tr>
                    </table>
		</div>
	</div>
</div>

<!--
<div class="col-md-6 col-sm-6 col-xs-12">
	<div class="x_panel">
		<div class="x_title">
			<h2>
				Defectos Removidos por Tipo<small></small>
			</h2>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
			<a href="reportImages/defects.png"> <img
				src="reportImages/defects.png" alt="..." class="img-container"></a>
		</div>
	</div>
</div>

<div class="col-md-6 col-sm-6 col-xs-12">
	<div class="x_panel">
		<div class="x_title">
			<h2>
                            Tiempo de Correcci&oacute;n de Defectos por Tipo<small></small>
			</h2>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
			<a href="reportImages/defects1.png"> <img
				src="reportImages/defects1.png" alt="..." class="img-container"></a>
		</div>
	</div>
</div>

-->