<div class="col-md-6 col-sm-6 col-xs-12">
	<div class="x_panel">
		<div class="x_title">
			<h2>General</h2>
			<ul class="nav navbar-right panel_toolbox"></ul>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">

			<table name="performanceTable" border="1"
				class="table table-bordered table-striped table-responsive">
				<tbody>
					<tr>
						<td class="header">Fecha</td>
						<td class="header">Valor</td>
					</tr>
					<tr>
						<td>Fecha del Reporte</td>
						<td class="data">${gn.dateReport}</td>
					</tr>
					<tr class="alt">
						<td>Periodo Reportado</td>
						<td class="data">${gn.reportedPeriod}</td>
					</tr>
					<tr>
						<td>Fecha fin planeada</td>
						<td class="data">${gn.dateEndPlanned}</td>
					</tr>
					<tr class="alt">
						<td>Estado</td>
						<td class="data">${gn.status}</td>
					</tr>
					<tr>
						<td>Fecha Fin Pronosticada</td>
						<td class="data">${gn.dateForecast}</td>
					</tr>
				</tbody>
			</table>

		</div>
	</div>
</div>

<div class="col-md-6 col-sm-6 col-xs-12">
	<div class="x_panel">
		<div class="x_title">
			<h2>Resumen de la semana</h2>
			<ul class="nav navbar-right panel_toolbox"></ul>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
			<table name="summary" class="table table-responsive table-striped">
				<tbody>
					<tr>
						<td></td>
						<td class="header" colspan="3">Direct Hours</td>
						<td></td>
						<td class="header" colspan="3">Earned Value</td>
					</tr>
					<tr>
						<td></td>
						<td class="header">Plan</td>
						<td class="header">Actual</td>
						<td class="header">Actual/Plan</td>
						<td></td>
						<td class="header">Plan</td>
						<td class="header">Actual</td>
						<td class="header">Actual/Plan</td>
					</tr>
					<tr>
						<td class="left">This Week</td>
						<td class="data">${data00}</td>
						<td class="data">${data01}</td>
						<td class="data">${data02}</td>
						<td></td>
						<td class="data">${data03}</td>
						<td class="data">${data04}</td>
						<td class="data">${data05}</td>
					</tr>
					<tr class="alt">
						<td>To Date</td>
						<td class="data">${data10}</td>
						<td class="data">${data11}</td>
						<td class="data">${data12}</td>
						<td></td>
						<td class="data">${data13}</td>
						<td class="data">${data14}</td>
						<td class="data">${data15}</td>
					</tr>
					<tr>
						<td>Average per Week To Date</td>
						<td class="data">${data20}</td>
						<td class="data">${data21}</td>
						<td class="data">${data22}</td>
						<td></td>
						<td class="data">${data23}</td>
						<td class="data">${data24}</td>
						<td class="data">${data25}</td>
					</tr>
					<tr class="alt">
						<td>Completed Tasks To Date</td>
						<td class="data">${data30}</td>
						<td class="data">${data31}</td>
						<td class="data">${data32}</td>
						<td></td>
						<td class="data">${data33}</td>
						<td class="data">${data34}</td>
						<td class="data">${data35}</td>
					</tr>
				</tbody>
			</table>

		</div>
	</div>
</div>

<div class="col-md-6 col-sm-6 col-xs-12">
	<div class="x_panel">
		<div class="x_title">
                    <h2>M&eacute;tricas de Desempe&ntilde;o</h2>
			<ul class="nav navbar-right panel_toolbox"></ul>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">

			<table name="performanceTable" border="1" class="table table-bordered table-striped table-responsive">
				<tbody>
                                    
                                    	<tr>
						<td></td>
						<td class="header">Valor</td>
						<td class="header">Metrica</td>
					</tr>
                                   
					
					<tr class="alt">
						<td>Diferencia (VG)</td>
						<td class="data">${pTable.vgDiff}</td>
						<td>Puntos</td>
					</tr>
					<tr>
						<td>Atrazado(-) / Adelantado(+)</td>
						<!--<td class="data">${pTable.vgFalta}</td>-->
                                                <td class="data">${pTable.recovery_percent}</td>
						<td>%</td>
					</tr>
                                        <tr class="alt">
                                            <td>Atrazado(-) / Adelantado(+)</td>
						<td class="data">${pTable.recovery}</td>
						<td>Semanas</td>
					</tr>
					<tr>
						<td>Atrazado(-) / Adelantado(+)</td>
						<td class="data">${pTable.recovery_hr}</td>
						<td>Horas</td>
					</tr>
					
					<tr class="alt">
						<td>Horas en tareas no terminadas</td>
						<td class="data">${pTable.hoursNotFinished}</td>
						<td>Horas</td>
					</tr>
					<tr>
						<td>Semanas de Hrs. en tareas no terminadas</td>
						<td class="data">${pTable.weekHrsNotFinished}</td>
						<td>Semanas</td>
					</tr>
					
					<tr>
						<td>VG no realizado (de las horas en tareas no terminadas)</td>
						<td class="data">${pTable.vgNotPerformed}</td>
						<td>Puntos</td>
					</tr>
				</tbody>
			</table>

		</div>
	</div>
</div>

<div class="col-md-6 col-sm-6 col-xs-12">
	<div class="x_panel">
		<div class="x_title">
                    <h2 class="int">Interpretaci&oacute;n</h2>
			<ul class="nav navbar-right panel_toolbox"></ul>
                        <div class="clearfix"></div>
		</div>
		<div class="x_content">
                    <p id="intPlan">Capture la Interpretaci&oacute;n del plan</p>                            
		</div>
	</div>
</div>

<div class="col-md-6 col-sm-6 col-xs-12">
	<div class="x_panel">
		<div class="x_title">
                    <h2 class="int">Plan de acci&oacute;n</h2>
			<ul class="nav navbar-right panel_toolbox"></ul>
                        <div class="clearfix"></div>
		</div>
		<div class="x_content"> 
                    <!-- No modificar esta sección la usa la aplicación del brain -->
                    <ul id="acciones">
                        <li>Capture el plan de acci&oacute;n</li>
                    </ul>
		</div>
	</div>
</div>


<div class="col-md-6 col-sm-6 col-xs-12">
	<div class="x_panel">
		<div class="x_title">
			<h2>
				Valor Ganado Acumulado<small></small>
			</h2>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
			<img src="reportImages/ev.png"	alt="Valor Ganado Acumulado" class="img-container">
		</div>
	</div>
</div>


<div class="col-md-6 col-sm-6 col-xs-12">
	<div class="x_panel">
		<div class="x_title">
			<h2>
				Tendencia de Valor Ganado<small></small>
			</h2>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
			<img src="reportImages/evTrend.png" alt="Tendencia de Valor Ganado" class="img-container">
		</div>
	</div>
</div>

<div class="col-md-6 col-sm-6 col-xs-12">
	<div class="x_panel">
		<div class="x_title">
			<h2>
				Horas Acumuladas<small></small>
			</h2>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
			<img src="reportImages/directHours.png" alt="Horas Acumuladas" class="img-container">
		</div>
	</div>
</div>
<div class="col-md-6 col-sm-6 col-xs-12">
	<div class="x_panel">
		<div class="x_title">
			<h2>
				Tendencias de Horas acumuladas<small></small>
			</h2>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
			<img src="reportImages/directTimeTrend.png" alt="Tendencias de Horas acumuladas" class="img-container">
		</div>
	</div>
</div>
<div class="col-md-6 col-sm-6 col-xs-12">
	<div class="x_panel">
		<div class="x_title">
			<h2>Compromisos Externos</h2>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
			<img src="reportImages/externalCommitments.png" alt="Compromisos Externos" class="img-container"></a>
		</div>
	</div>
</div>
<div class="col-md-6 col-sm-6 col-xs-12">
	<div class="x_panel">
		<div class="x_title">
			<h2>
				Hitos<small></small>
			</h2>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
			<img src="reportImages/milestones.png" alt="Hitos" class="img-container">
		</div>
	</div>
</div>

<div class="col-md-6 col-sm-6 col-xs-12">
	<div class="x_panel">
		<div class="x_title">
                    <h2 class="int">Interpretaci&oacute;n de Compromisos Externos</h2>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
                    <p id="intComp_Ext">Capture la Interpretaci&oacute;n de Compromisos Externos</p>
		</div>
	</div>
</div>

<div class="col-md-6 col-sm-6 col-xs-12">
	<div class="x_panel">
		<div class="x_title">
                    <h2 class="int">Interpretaci&oacute;n de Hitos</h2>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
                    <p id="intHitos">Capture la  Interpretaci&oacute;n de Hitos</p>
		</div>
	</div>
</div>

