<div>
	<div class="x_panel">
		<div class="x_title">
			<h2>
				PQI por producto y Acciones<small></small>
			</h2>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
                        <#if msgTable!="">
                        <p>${msgTable}</p>
                        <#else>                        
                            <table id="int_pqi" border="1" class="table table-bordered table-striped table-responsive">
                                <tbody>
                                    <tr>
                                <th>
                                    Producto
                                </th>
                                <th>
                                    PQI Planeado
                                </th>
                                <th>
                                    PQI Actual
                                </th>

                                <th>
                                    Acciones a realizar
                                </th>
                                </tr>
                                <#list tablePQI as product>
                                    <tr>
                                        <td>${product.pathToProduct}</td>
                                        <td><center>${product.pqi_planned}</center><br><br>
                                            <img width="300" height="200" src="${product.imagePQIPlanned}">                                    
                                        </td>
                                        <td><div style="color: rgb(255,0,0);"><center>${product.pqi_actual}</center></div><br><br>
                                            <img width="300" height="200" src="${product.imagePQIActual}">   </td>                                        
                                            <td></td>
                                    </tr>
                                </#list>


                                </tbody>
                            </table>
                        </#if>
			
		</div>
	</div>
</div>


<div class="col-md-6 col-sm-6 col-xs-12">
	<div class="x_panel">
		<div class="x_title">
			<h2>
				Defectos Removidos por Tipo<small></small>
			</h2>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
			<img src="reportImages/defects.png" alt="Defectos Removidos por Tipo" class="img-container">
		</div>
	</div>
</div>

<div class="col-md-6 col-sm-6 col-xs-12">
	<div class="x_panel">
		<div class="x_title">
			<h2>
                            Tiempo de Correcci&oacute;n de Defectos por Tipo<small></small>
			</h2>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
			<img src="reportImages/defects1.png" alt="Tiempo de Correcci&oacute;n de Defectos por Tipo" class="img-container">
		</div>
	</div>
</div>

<div>
	<div class="x_panel">
		<div class="x_title">
			<h2 class="int">
                            Interpretaci&oacute;n del estado de la Calidad<small></small>
			</h2>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
                    <p id="int_Quality">Capture la Interpretaci&oacute;n del estado de la Calidad</p>
		</div>
	</div>
</div>

<div>
	<div class="x_panel">
		<div class="x_title">
			<h2 class="int">
                            Plan de acci&oacute;n
			</h2>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
                    <ul id="plan_quality">
                        <li>Capture el plan de acci&oacute;n</li>
                    </ul>
		</div>
	</div>
</div>
