<div>
	<div class="x_panel">
		<div class="x_title">
			<h2>
				PQI por producto y Acciones<small></small>
			</h2>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
			<table id="int_pqi" border="1" class="table table-bordered table-striped table-responsive">
                            <tbody>
                                <tr>
                            <th>
                                Producto
                            </th>
                            <th>
                                PQI Planeado
                            </th>
                            <th>
                                PQI Actual
                            </th>
                            
                            <th>
                                Acciones a realizar
                            </th>
                            </tr>
                            
                                <tr>
                                    <td>Producto 1</td>
                                    <td><center><div class="color: rgb(255,0,0);">0.31</div></center><br><br>
                                        <img width="300" height="200" src="reportImages/pqi_plan.png">                                    
                                    </td>
                                    <td><center>0.65</center>
                                        <br><br>
                                        <img width="300" height="200" src="reportImages/pqi_actual.png">   </td>
                                    <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sollicitudin efficitur semper. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla facilisi. Quisque tincidunt id nisi at imperdiet. Aliquam pretium leo sed magna sagittis congue. Etiam ornare ex eu tellus elementum, ut placerat nibh vestibulum. Etiam eu nisi diam.</td>
                                </tr>
                                <tr>
                                    <td>Producto 3</td>
                                    <td><center>0.74</center><br><br>
                                        <img width="300" height="200" src="reportImages/pqi_plan.png">                                    
                                    </td>
                                    <td><center>0.65</center>
                                        <br><br>
                                        <img width="300" height="200" src="reportImages/pqi_actual.png">   </td>
                                    <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sollicitudin efficitur semper. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla facilisi. Quisque tincidunt id nisi at imperdiet. Aliquam pretium leo sed magna sagittis congue. Etiam ornare ex eu tellus elementum, ut placerat nibh vestibulum. Etiam eu nisi diam.</td>
                                </tr>
                                <tr>
                                    <td>Producto 2</td>
                                    <td><center>0.74</center><br><br>
                                        <img width="300" height="200" src="reportImages/pqi_plan.png">                                    
                                    </td>
                                    <td><center>0.65</center>
                                        <br><br>
                                        <img width="300" height="200" src="reportImages/pqi_actual.png">   </td>
                                        <td>Capture la acci&oacute;n</td>
                                </tr>
                                
                            </tbody>
                        </table>
		</div>
	</div>
</div>


<div class="col-md-6 col-sm-6 col-xs-12">
	<div class="x_panel">
		<div class="x_title">
			<h2>
				Defectos Removidos por Tipo
			</h2>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
			<img src="reportImages/defects.png" alt="Defectos Removidos por Tipo" class="img-container">
		</div>
	</div>
</div>

<div class="col-md-6 col-sm-6 col-xs-12">
	<div class="x_panel">
		<div class="x_title">
			<h2>
                            Tiempo de Correcci&oacute;n de Defectos por Tipo<small></small>
			</h2>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
			<img src="reportImages/defects1.png" alt="Tiempo de Correcci&oacute;n de Defectos por Tipo" class="img-container">
		</div>
	</div>
</div>

<div>
	<div class="x_panel">
		<div class="x_title">
			<h2 class="int">
                            Interpretaci&oacute;n del estado de la Calidad<small></small>
			</h2>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
                    <p id="int_Quality">Capture la Interpretaci&oacute;n del estado de la Calidad</p>
		</div>
	</div>
</div>

<!--<div class="col-md-6 col-sm-6 col-xs-12">
	<div class="x_panel">
		<div class="x_title">
                    <h2>Tama&nacute;o</h2>
			<ul class="nav navbar-right panel_toolbox"></ul>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
		${sizeTable}
		</div>
	</div>
</div>-->