<div class="col-md-6 col-sm-6 col-xs-12">
	<div class="x_panel">
		<div class="x_title">
			<h2>
				Tabla de tareas en problemas<small></small>
			</h2>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
                    <table border="1" class="table table-bordered table-striped table-responsive">
                        <tr>
                        <th>
                            Tarea
                        </th>
                        <th>
                            Hito
                        </th>
                        </tr>
                        <tr>
                            <td>
                               /Proyecto/Coaches 2016/Evaluaci&oacute;n PACE/Process and Products/Presentaci&oacute;n 1
                            </td>
                            <td>
                               Ciclo 1
                            </td>
                        </tr>
                        <tr>
                            <td>
                                /Proyecto/Coaches 2016/Evaluaci&oacute;n PACE/Process and Products/Presentaci&oacute;n 2
                            </td>
                            <td>
                               Ciclo 1
                            </td>
                        </tr>
                        <tr>
                            <td>
                               /Proyecto/Coaches 2016/Evaluaci&oacute;n PACE/Process and Products/Presentaci&oacute;n 3
                            </td>
                            <td>
                               Ciclo 1
                            </td>
                        </tr>
                        
                    </table>
		</div>
	</div>
</div>
<div class="col-md-6 col-sm-6 col-xs-12">
	<div class="x_panel">
		<div class="x_title">
			<h2>
                            Gr&aacute;fica de tareas en progreso<small></small>
			</h2>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
                    <img src="reportImages/inPogressTasks.png" alt="Gr&aacute;fica de tareas en progreso" class="img-container">
                    
		</div>
	</div>
</div>
<div class="col-md-6 col-sm-6 col-xs-12">
	<div class="x_panel">
		<div class="x_title">
			<h2>
                            Tabla de tareas de la siguiente semana<small></small>
			</h2>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
                   <table border="1" class="table table-bordered table-striped table-responsive">
                        <tr>
                            <th>Tarea</th>
                        </tr>
                        <tr>
                            <td>/Proyecto/Coaches 2016/Evaluaci&oacute;n PACE/Process and Products/Presentaci&oacute;n</td>
                        </tr>
                        <tr>
                            <td>/Proyecto/Coaches 2016/Evaluaci&oacute;n PACE/Process and Products/Presentaci&oacute;n 1</td>
                        </tr>
                        <tr>
                            <td>/Proyecto/Coaches 2016/Evaluaci&oacute;n PACE/Process and Products/Presentaci&oacute;n 2</td>
                        </tr>
                        <tr>
                            <td>/Proyecto/Coaches 2016/Evaluaci&oacute;n PACE/Process and Products/Presentaci&oacute;n 2</td>
                        </tr>
                    </table>
		</div>
	</div>
</div>
<div class="col-md-6 col-sm-6 col-xs-12">
	<div class="x_panel">
		<div class="x_title">
			<h2 class="int">
                            Interpretaci&oacute;n de tareas
			</h2>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
                    <p id="int_Taks">Capture la Interpretaci&oacute;n de tareas</p>
		</div>
	</div>
</div>
<div>
	<div class="x_panel">
		<div class="x_title">
			<h2>
                            Tabla de productos terminados<small></small>
			</h2>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
                    <table id="table_products" border="1" class="table table-bordered table-striped table-responsive">
                        <tr>
                            <th>Producto</th>
                            <th>URL</th>
                        </tr>
                        <tr>
                            <td>Evaluaci&oacute;n PACE</td>
                            <td><a href="#">Url de evidencia</a></td>
                        </tr>
                        <tr>
                            <td>Institucionalizar TSP</td>
                            <td><a href="#">Url de evidencia</a></td>
                        </tr>
                    </table>
		</div>
	</div>
</div>


<div class="col-md-6 col-sm-6 col-xs-12">
	<div class="x_panel">
		<div class="x_title">
                    <h2>Tabla de Tama&nacute;os</h2>
			<ul class="nav navbar-right panel_toolbox"></ul>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
		<img src="reportImages/size.png" alt="Tiempo de Correcci&oacute;n de Defectos por Tipo" class="img-container">
		</div>
	</div>
</div>
<div class="col-md-6 col-sm-6 col-xs-12">
	<div class="x_panel">
		<div class="x_title">
                    <h2>Tabla de tiempos en fase</h2>
			<ul class="nav navbar-right panel_toolbox"></ul>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
		<img src="reportImages/tiempo_fase.png" alt="Tabla de tiempos en fase" class="img-container">
		</div>
	</div>
</div>

<div class="col-md-6 col-sm-6 col-xs-12">
	<div class="x_panel">
		<div class="x_title">
                    <h2 class="int">Interpretaci&oacute;n de la tabla de Tama&nacute;os</h2>
			<ul class="nav navbar-right panel_toolbox"></ul>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
                    <p id="int_Size">Capture la Interpretaci&oacute;n de la tabla de Tama&nacute;os</p>
		</div>
	</div>
</div>
<div class="col-md-6 col-sm-6 col-xs-12">
	<div class="x_panel">
		<div class="x_title">
                    <h2 class="int">Interpretaci&oacute;n de la tabla de tiempos en fase</h2>
			<ul class="nav navbar-right panel_toolbox"></ul>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
                    <p id="int_Time">Capture la Interpretaci&oacute;n de la tabla de tiempos en fase</p>
		</div>
	</div>
</div>
