<div class="col-md-6 col-sm-6 col-xs-12">
	<div class="x_panel">
		<div class="x_title">
			<h2>
                            Gr&aacute;fica de tareas en progreso
			</h2>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
                    <img src="reportImages/inPogressTasks.png" alt="Gr&aacute;fica de tareas en progreso" class="img-container">
                    
		</div>
	</div>
</div>
<div class="col-md-6 col-sm-6 col-xs-12">
	<div class="x_panel">
		<div class="x_title">
			<h2>
				Tabla de tareas en problemas<small></small>
			</h2>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
                    <#if task_problemsMsg!="">
                    <p>${task_problemsMsg}</p>
                    <#else>
                        <table border="1" class="table table-bordered table-striped table-responsive">
                            <tr>
                            <th>
                                Tarea
                            </th>
                            <th>
                                Fecha Planeada
                            </th>
                            <th>
                                Hito
                            </th>
                            </tr>
                            <#list task_problems as task_problem>
                            <tr>
                                <td>
                                   ${task_problem.name}
                                </td>
                                <td>
                                   ${task_problem.date}
                                </td>
                                <td>
                                   ${task_problem.hito}
                                </td>
                            </tr>
                            </#list>
                        </table>
                     </#if>
		</div>
	</div>
</div>

<div class="col-md-6 col-sm-6 col-xs-12">
	<div class="x_panel">
		<div class="x_title">
			<h2>
                            Tabla de tareas de la siguiente semana<small></small>
			</h2>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
                   <#if tasknextMsg!="">
                        <p>${tasknextMsg}</p>                        
                   <#else>
                        <table border="1" class="table table-bordered table-striped table-responsive">
                             <tr>
                                 <th>Tarea</th>
                             </tr>
                             <#list tasknext as task>

                             <tr>
                                 <td>${task}</td>
                             </tr>
                             </#list>                        
                         </table>
                    </#if>
		</div>
	</div>
</div>
<div class="col-md-6 col-sm-6 col-xs-12">
	<div class="x_panel">
		<div class="x_title">
			<h2 class="int">
                            Plan de acci&oacute;n
			</h2>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
                    <ul id="int_Taks">
                        
                    </ul>
		</div>
	</div>
</div>
<div>
	<div class="x_panel">
		<div class="x_title">
			<h2>
                            Tabla de productos<small></small>
			</h2>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
                    <#if productsMsg!="">
                    <p>${productsMsg}</p>
                    <#else>
                        <table id="table_products" border="1" class="table table-bordered table-striped table-responsive">
                            <tr>
                                <th>Producto</th>
                                <th>Fecha Planeada</th>
                                <th>Fecha Terminado</th>
                                <th>URL de evidencia</th>
                            </tr>
                            <#list products as product>
                            <tr status="${product.status}">
                                <td>${product.name}</td>
                                <td>${product.plannedDate}</td>
                                <td>${product.finishDate}</td>
                                <#if product.status=="finishedToDate">
                                <td>URL de evidencia(opcional)</td>
                                <#else>
                                <td></td>
                                </#if>

                            </tr>
                            </#list>                         
                        </table>
                    </#if>
		</div>
	</div>
</div>


<div class="col-md-6 col-sm-6 col-xs-12">
	<div class="x_panel">
		<div class="x_title">
                    <h2 title="Usando la etiqueta terminado">Tabla de Tama&nacute;os (Terminados)</h2>
                    &nbsp;&nbsp;<a title="Usando la etiqueta terminado">Ver</a>
			<ul class="nav navbar-right panel_toolbox"></ul>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
		${sizeTable}
		</div>
	</div>
</div>
<div class="col-md-6 col-sm-6 col-xs-12">
	<div class="x_panel">
		<div class="x_title">
                    <h2 title="Usando la etiqueta terminado">Tabla de tiempos en fase (Terminados)</h2>
                    &nbsp;&nbsp;<a title="Usando la etiqueta terminado">Ver</a>
			<ul class="nav navbar-right panel_toolbox"></ul>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
                <table border="1" class="table table-bordered table-striped table-responsive">
                    <tr>
                        <th>
                            Fase
                        </th>
                        <th>
                            Tiempo Planeado
                        </th>
                        <th>
                            Tiempo Actual
                        </th>
                    </tr>
                    <#list timetable as row>
                    <tr>
                        <td>${row.name}</td>
                        <td>${row.plannedTime}</td>
                        <td>${row.actualTime}</td>
                    </tr>
                    </#list> 
                </table>
		</div>
	</div>
</div>

<div class="col-md-6 col-sm-6 col-xs-12">
	<div class="x_panel">
		<div class="x_title">
                    <h2 class="int">Interpretaci&oacute;n de la tabla de Tama&nacute;os</h2>
			<ul class="nav navbar-right panel_toolbox"></ul>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
                    <p id="int_Size">Capture la Interpretaci&oacute;n de la tabla de Tama&nacute;os</p>
		</div>
	</div>
</div>
<div class="col-md-6 col-sm-6 col-xs-12">
	<div class="x_panel">
		<div class="x_title">
                    <h2 class="int">Interpretaci&oacute;n de la tabla de tiempos en fase</h2>
			<ul class="nav navbar-right panel_toolbox"></ul>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
                    <p id="int_Time">Capture la Interpretaci&oacute;n de la tabla de tiempos en fase</p>
		</div>
	</div>
</div>
